/**
 * File: styles/main.scss
 * 
 * Author: Jozef Méry <xmeryj00@stud.fit.vutbr.cz>
 * Date: 27.1.2020
 * License: none
 * Description: Main style file.
 * 
 */

body {

    // no margin or padding by default
    margin: 0;
    padding: 0;
    // prevent selecting text on buttons and other UI items
    user-select: none;
}

#root {

    // position 
    position: absolute;
    // fill parent
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    
    overflow: hidden;
}